<!DOCTYPE html>
<html>
  <head>
    <title>Informatikkorakel ansatt</title>
    <script src="./javascripts/scriptansatt.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleansatt.css">
  </head>
  <body>
    <h1 style="margin-bottom: 50px;">IO - Ansatt</h1>

    <div class="container">


        <div class="queuesection">

          <h1 style="font-family: 'Roboto', sans-serif; font-size: 40px;">Kø</h1>

          <div class="queueitem">
            <div class="queueitemtext">
              <p class="itemtext">Navn: Vetle</p>
              <p class="itemtext">Fag: INF140</p>
              <p class="itemtext">Bord nummer: 9</p>
            </div>
            <div class="queueitembutton">
              <p class="itemtext">Accept</p>
            </div>
          </div>
        </div>

        <div class="infosection">

        </div>


    </div>
    
    
  </body>
</html>
