<!DOCTYPE html>
<html>
  <head>
    <title>Informatikkorakel ansatt</title>
    <script src="./javascripts/scriptansatt.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleansatt.css">
  </head>
  <body>
    <h1 style="margin-bottom: 50px;">IO - Ansatt</h1>

    <div class="container">


        <div class="queueSection">

          <h1 style="font-family: 'Roboto', sans-serif; font-size: 40px;">Kø</h1>

          <div id = "0" class="queueItem">
            <div class="queueItemText">
              <p class="itemText">Navn: Vetle</p>
              <p class="itemText">Fag: INF140</p>
              <p class="itemText">Bord nummer: 9</p>
            </div>
            <div onclick = 'acceptRequest(this)' class="queueItemButton">
              <p class="itemText">Accept</p>
            </div>
          </div>
        </div>
        <div class="serving">
          <h1 style="font-family: 'Roboto', sans-serif; font-size: 40px;">Serving</h1>
        </div>


    </div>
    
    
  </body>
</html>
