<!DOCTYPE html>
<html>
  <head>
    <title>Informatikkorakel kø</title>
    <link rel='stylesheet' href='/stylesheets/stylestudent.css' />
    <script src="./javascripts/scriptstudent.js"></script>
  </head>
  <body>
    <h1 class="title">Din kølapp</h1>
    
    
    <form action="/waiting">

      <div class="index">Navn</div>
      <input class = "input" type="text" name="navn"><br>

      <div class="index">Fag</div>
      <input class = "input" type="text" name="fag"><br>

      <div class="index">Bord Nummer</div>
      <input class = "input" type="text" name="bordnummer"><br><br>

      <input class="submitButton" type="submit" value="+">
    </form>
    

    
  </body>
</html>
