<!DOCTYPE html>
<html>
  <head>
    <title>Informatikkorakel kø</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./javascripts/scriptstudent.js"></script>
  </head>
  <body>
    <h1>IO</h1>
    
    
    <form action="/waiting">
      Navn:
      <input type="text" name="navn"><br>
      Fag:
      <input type="text" name="fag"><br>
      Bordnummer:
      <input type="text" name="bordnummer"><br><br>
      <input type="submit" value="Submit">
    </form>
    

    
  </body>
</html>
