<!DOCTYPE html>
<html>
  <head>
    <title>Informatikkorakel kø</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./javascripts/scriptstudent.js"></script>
  </head>
  <body>
    <h1>IO</h1>
    
    
    <h1><%= message %></h1>
    

    
  </body>
</html>
